{{#each blog in model}}
    <h4>{{blog.title}}</h4>
    <p>{{blog.text}}</p>
    <hr />
{{/each}}

<p>new</p>
<form {{action 'add' on='submit'}}>
    <div class="form-group">
        <label for="title">Title</label>
        {{input value=title placeholder='Enter Title' class='form-control'}}
    </div>
    <div class="form-group">
        <label for="text">Text</label>
        {{input value=text placeholder='Enter Text' class='form-control'}}
    </div>
    <button type="submit" class="btn btn-default">Add</button>
</form>
