
    <div class="row">
		<div class="col-md-4 col-md-offset-4">
    		<div class="panel panel-default">
			  	<div class="panel-heading">
			    	<h3 class="panel-title">Please sign in</h3>
			 	</div>
			  	<div class="panel-body">
			    	<form {{action 'authenticate' on='submit'}}>
                    <fieldset>
			    	  	<div class="form-group">
			    		    {{input value=identification placeholder='Enter Login' class='form-control'}}
			    		</div>
			    		<div class="form-group">
			    			{{input value=password placeholder='Enter Password' class='form-control' type='password'}}
			    		</div>
			    		<div class="checkbox">
			    	    	<label>
			    	    		<input name="remember" type="checkbox" value="Remember Me"> Remember Me
			    	    	</label>
			    	    </div>
			    		<input class="btn btn-lg btn-success btn-block" type="submit" value="Login">
			    	</fieldset>
			      	</form>
			    </div>
			</div>
		</div>
	</div>

    <div class="row">
        <div class="col-sm-12">
            <button {{action 'socialLogin' 'service:google-token'}}>Google Login</button>
        </div>
    </div>

{{#if errorMessage}}
    <div class="alert alert-danger">
        <p>
            <strong>Login failed:</strong> <code>{{errorMessage}}</code>
        </p>

        <p>
            Documentation of the error codes can be found in the <a
                href="http://tools.ietf.org/html/rfc6749#section-5.2" title="RFC 6749 - Error Response">Error Response
            section of RFC 6749</a>.
        </p>
    </div>
{{/if}}